{% extends "auctions/layout.html" %}

{% block body %}
<h3>Create a new listing</h3>
<div class="col-6">
<div class="form-group">
<form action="{% url 'auctions:add_listing' %}" method="post">
    {% csrf_token %}
        {{ form.as_p }}
    <div class="row">
        <div class="col-12">
        <button type="submit" class="btn btn-primary float-right">Create
</button>
        </div>
    </div>
</form>
</div>
</div>
{% endblock %}