{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}Auctions{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <script type='text/javascript' src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'auctions:index' %}">Auctions</a>
            <div class="collapse navbar-collapse justify-content-end" >
              <div class="navbar-nav">
                <a class="nav-link" href="{% url 'auctions:index' %}">Active Listings</a>
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'auctions:add_listing' %}">Create a listing</a>
                <a class="nav-link" href="{% url 'auctions:categories' %}">Categories</a>
                <a class="nav-link" href="{% url 'auctions:watchlist' %}">Watchlist
    
                        <span class="badge badge-primary" > {{ nb_items }} </span>

                </a>
                <a class="nav-link" href="{% url 'auctions:logout' %}">Log Out</a>
            {% else %}
                <a class="nav-link mr-auto" href="{% url 'auctions:login' %}">Log In</a>
                <a class="nav-link" href="{% url 'auctions:register' %}">Register</a>
            {% endif %} 
            </div>
            </div>
          </nav>

            <p style="text-align: right;">
            {% if user.is_authenticated %}
                Signed in as <strong>{{user.username|title}}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
            </p>
        <hr>
            {% block body %} 
            {% endblock %}
        <script src="{% static 'auctions/js/toggle_comment.js' %}"></script>
    </body>
</html>
