{% extends "auctions/layout.html" %}

{% block body %}

    
    <div class="login-form">
        
        

        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
        <form action="{% url 'auctions:login' %}" method="post">
            <h2 class="text-center">Sign In</h2>
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" value="Login">
            </div>
        </form>
        <p class="text-center">Don't have an account? <a href="{% url 'auctions:register' %}">Register here.</a></p> 
    </div>
    

{% endblock %}