<!DOCTYPE html>
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="form-group">
            <form action="{% url 'auctions:bid' listing_id%}" method="post">
                {% csrf_token %}
                    {{ form.as_p }}
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary float-right">Bid
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>