{% extends "auctions/layout.html" %}

{% block body %}

    <div class="login-form">

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'auctions:register' %}" method="post">
        <h2 class="text-center">Sign Up</h2>
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <div class="form-group">
        <input class="btn btn-primary btn-block" type="submit" value="Register">
        </div>
    </form>

    <p class="text-center">Already have an account? <a href="{% url 'auctions:login' %}">Log In here.</a></p> 
</div>

{% endblock %}